@media (max-width: 1200px) {
  #skills .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #skills .container h2 {
    margin-left: 100px;
  }
}

@media (max-width: 1000px) {
  #contact .grid {
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  #about p{
    padding: 0;
  }

  #skills .container h2 {
    margin-left: 0px;
  }

  #skills .container {
    width: 70%;
    margin: auto;
    padding: 0;
  }

  #skills .skill-cont {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }

  #skills .container .skills-title {
    margin-top: -100px;
  }

  #portfolio .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  #header {
    text-align: center;
  }

  body {
    overflow-x: hidden;
  }

  #header .nav-link {
    width: 25%;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: auto;
  }

  .my-email {
    display: none;
  }

  #first .social-links {
    display: none;
  }
  #first h3{
    font-size: 28px !important;
  }

  .navbar {
    flex-wrap: wrap;
  }

  #about .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  #about {
    margin-bottom: 50px;
  }

  #about .image-part {
    margin-left: 5%;
  }

  .container {
    width: 80%;
  }

  /* #skills .container {
    width: 90%;
  } */
  #skills .container .skills-title {
    margin-top: 0px;
  }

  /* projects */
  #portfolio .project-container {
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
  }

  .project {
    position: relative;
    margin: 0px 0px 100px;
  }

  .project-content {
    margin-top: 0px;
    padding: 10px 25px 20px;
  }

  .project-label {
    z-index: 50;
  }

  .project-title a {
    z-index: 50 !important;
  }

  .project-img {
    grid-column: 12/1;
    grid-row: 1/ 10;
    height: 400px;
    width: 550px;
  }

  .project-details .project-description {
    position: relative;
    background-color: transparent;
    padding: 0px;
    margin: 0;
    z-index: 5;
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    border-radius: var(--border-radius);
    color: var(--light-slate);
    font-size: var(--fz-lg);
  }

  .project-content {
    background-color: transparent;

    grid-column: 12 / 1;
    height: 400px;
    width: 550px;
    padding: auto 20px;
  }

  .project-content p {
    padding: 0 !important;
    font-size: 16px;
  }

  .even .project-content {
    grid-column: 1/ 12;
    grid-row: 11/ 0;
    text-align: end;
    height: 400px;
    width: 550px;
  }

  .even {
    margin: 0;
  }

  .even .project-label {
    margin: -20px 0 20px;
  }


  .even .project-img {
    grid-column: 1 / 12;
    grid-row: 8 / 1;
    height: 400px;
    width: 550px;
  }

  .project-img:hover img {
    transition: all 1s ease-out;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
  }

  .project-img a::before {
    background-color: #011224d9;
  }
  #contact p{
    font-size: 16px;
  }

  /* social-footer */
  .resume-button.style-btn {
    width: 50%;
    margin: 30px auto 20px;
  }

  #footer .social-footer {
    display: block;
    padding: 7px 0;
    padding-top: 40px;
  }

  #footer .social-footer ul {
    margin: 0;
    padding: 0;
  }

  #footer .social-footer li {
    padding: 10px 13px;
    display: inline;
  }

  #footer .social-footer li a {
    font-size: 22px;
    color: var(--light-slate);
  }

  #footer .social-footer span {
    padding: 3px 5px;
    background-color: var(--green);
    margin-left: -40px;
    margin-top: -35px;
    border-radius: 3px;
    position: absolute;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    color: var(--navy);
    transform: scale(0);
    transition: all 0.3s ease;
  }

  #footer .social-footer span::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: var(--green);
    left: 20px;
    top: 20px;
    border-radius: 3px;
    transform: rotate(45deg);
    z-index: -1;
  }

  #footer .social-footer li a:hover i {
    transition: ease-out 0.2s;
    color: var(--green);
    transform: scale(1.2);
  }

  #footer .social-footer li:hover span {
    transform: scale(1);
  }

}

@media (max-width: 600px) {
  #skills .container .skills-title {
    margin-top: 50px;
  }
  #skills .container .skill-cont #holder{
    margin-left: -60px;
  }
  #skills p{
    font-size: 15px !important;
    padding: 0;
    /* background-color: red; */
  }

  #portfolio .project-container {
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
  }

  .project-img {
    height: 350px;
    width: 480px;
  }

  #portfolio .project-container p {
    font-size: 13px;
  }

  .project-content {
    height: 350px;
    width: 480px;
    padding: auto 20px;
  }

  .even .project-content {
    height: 350px;
    width: 480px;
  }

  .even .project-img {
    height: 350px;
    width: 480px;
  }

  #portfolio .project-container .project-content i {
    font-size: 20px;
  }
  #contact {
    width: 70%;
    margin: 100px auto 100px;
  }

}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }

  #skills .container .skills-title {
    margin-top: 50px;
  }
  #skills p{
    font-size: 13px !important;
    padding: 0;
    /* background-color: red; */
  }

  #portfolio .project-container {
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
  }

  .project-img {
    height: 280px;
    width: 380px;
  }

  #portfolio .project-container p {
    font-size: 11px;
  }

  #portfolio .project-container .project-content {
    font-size: 11px;
    padding: 10px;
  }

  #portfolio .project-container .project-content i {
    font-size: 18px;
  }
  #portfolio .project-container .project-content li {
    font-size: 12px;
  }
  #portfolio .project-container .project-content  h4{
    font-size: 20px;
  }
  .project-content {
    height: 280px;
    width: 380px;
    padding: auto 20px;
  }

  .even .project-content {
    height: 280px;
    width: 380px;
  }

  .even .project-img {
    height: 280px;
    width: 380px;
  }

  .loading {
    margin-left: -25px !important;
  }

  footer p {
    padding: 20px 20px;
    margin: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-slate);
    letter-spacing: 1.2px;
  }
}

@media (max-width: 390px) {
  .container {
    width: 95%;
  }

  #skills .container .skills-title {
    margin-top: 0px;
  }

  .project-img {
    height: 260px;
    width: 330px;
  }

  #portfolio .project-container p {
    font-size: 10px;
  }

  #portfolio .project-container .project-content {
    font-size: 11px;
    padding: 10px;
  }

  #portfolio .project-container .project-content i {
    font-size: 14px;
  }
  #portfolio .project-container .project-content li {
    font-size: 10px;
  }
  #portfolio .project-container .project-content  h4{
    font-size: 18px;
  }
  .project-content {
    height: 260px;
    width: 330px;
    padding: auto 20px;
  }

  .even .project-content {
    height: 260px;
    width: 330px;
  }

  .even .project-img {
    height: 260px;
    width: 330px;
  }
  #portfolio .icon-links {
    font-size: 28px;
  }
  #portfolio .icon-links a i{
    font-size: 20px;
  }
  #portfolio .card{
    padding: 10px;
  }
  #contact {
    width: 90%;
  }


}