@media (max-width: 1200px){
    #skills .row{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (max-width: 1000px){
    #contact .grid{
        grid-template-columns: 1fr;
        grid-gap: 25px;
      }
      #skills .row{
        grid-template-columns: 33% 33% 33%;
    }
    #portfolio .grid {
        grid-template-columns: 1fr;
        
      }
}
@media (max-width: 768px){
    #portfolio .grid {
        grid-template-columns: 1fr;
      }
    .container-fluid{
    width: 90%;
  }





      /* social-footer */

  #footer .social-footer{
    display: block;
    padding: 7px 0;
    padding-top: 40px;
  }
  #footer .social-footer ul{
      margin: 0;
      padding: 0;
  }
  #footer .social-footer li{
    padding: 10px 13px;
    display: inline;
  }
  #footer .social-footer li a{
    font-size: 22px;
    color: var(--light-slate);
  }
   #footer .social-footer span{
    padding: 3px 5px;
    background-color: var(--green);
    margin-left:-40px;
    margin-top: -35px;
    border-radius: 3px;
    position: absolute; 
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--navy);
    transform: scale(0);
    transition: all .3s ease;
  }
  #footer .social-footer span::after{
    content: '';
     position: absolute; 
    width: 13px;
    height: 13px;
    background-color: var(--green);
    left: 20px;
    top: 20px;
    border-radius: 3px;
    transform: rotate(45deg);
    z-index: -1;
  }
  #footer .social-footer li a:hover i {
    transition: ease-out .2s;
    color: var(--green);
   transform: scale(1.2);
  }
  #footer .social-footer li:hover span{
    transform: scale(1);
  } 
  .my-email{
    display: none;
  }
  
  #first .social-links{
    display: none;
    
  }
  .navbar{
    flex-wrap: wrap;
  }
  #about .grid{
    display: grid;
    grid-template-columns:  1fr;
  }
  #about{
      margin-bottom: 250px;
  }
  #about .image-part{
    margin-left: 10% ;
  }
}
@media (max-width: 600px){
    .container {
        width: 90%;
        
      }
}
